html, body, #page {
    margin:0;
    padding:0;
    border-collapse: collapse;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

.jumbotron {
    margin-bottom: 0px;
    position:relative;
    padding-top:50px;
    padding-bottom:50px;
}

.jumbotron .container {
    position:relative;
    z-index:2;
  }

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("http://bisbeecalendar.com/static/images/hero/2014_VB.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}


tr.mainBackground {
    background: url("images/mainBackground.jpg") no-repeat;
}

td.alignTop{
    vertical-align:top;
}

div.transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#coreTable {
    margin:auto;
    padding:0;
    border:0;
    width:1366px;
    border-collapse: collapse;
}

#topRow {
    height:100px;
}

#menuRow {
    height:35px;
    color:white;
}

#mainRow{
    height:600px;
}

#bottomBar {
    height:25px;
}
