html, body, #page {
    margin:0;
    padding:0;
    border-collapse: collapse;
}

.control-label, .checkboxLabel
{
    font-family: "Roboto";
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


table.center {
    margin-left:auto;
    margin-right:auto;
}

.projNumber {
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 6px;
}


.camNumber {
    margin-top: 8px;
    margin-right: 6px;
}
.chairsNumber {
    margin-top:8px;
}

.tvStands {
    margin-bottom: 8px;
    margin-left: 12px;
}


.speakerStands {
    margin-bottom: 6px;
    margin-left: 40px;
}
.microphoneStands {
    margin-bottom: 6px;
    margin-left: 40px;
}

.ft10Table {
    margin-top: 8px;
    margin-right: 10px
}
.speakerNumber {
    margin-top: 8px;
    margin-right: 41px;
}
.chairsNumber {
    margin-right: 6px;
}
.ft3Table, .ft6Table, .round8Table {
    margin-top: 8px;
    margin-right: 12px;
  }
.tv32, .tv60, .tv80 {
    margin-top: 8px;
    margin-right: 20px;
}

.receiverNumber {
    margin-top: 8px;
    margin-right: 4px;
}
.ampNumber {
    margin-top: 8px;
    margin-right: 14px;
}
.micNumber {
    margin-top: 8px;
    margin-right: 24px;
}

.jumbotron {
    margin-bottom: 0px;
    position:relative;
    padding-top:50px;
    padding-bottom:50px;
}

.jumbotron .container {
    position:relative;
    z-index:2;
  }

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("http://bisbeecalendar.com/static/images/hero/2014_VB.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

table.overlay{
    width:300px;
    height:200px;
    background-color:#fff;
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-100px;  /* half of height */
    top:50%;
    left:50%;
}

tr.mainBackground {
    background: url("images/mainBackground.jpg") no-repeat;
}

td.alignTop{
    vertical-align:top;
}

div.transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.overlay{
    position: fixed; /* Sit on top of the page content */
/*    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#coreTable {
    margin:auto;
    padding:0;
    border:0;
    width:1366px;
    border-collapse: collapse;
}

#topRow {
    height:100px;
}

#menuRow {
    height:35px;
    color:white;
}

#mainRow{
    height:600px;
}

#bottomBar {
    height:25px;
}


